---

const {colour} = Astro.props; 
---

<html>
    <section class="py-8 px-2 md:py-16 md:px-4">
        <div class= {`${colour ?? 'border-light-green'} w-full border-t-1 border-dashed`}></div>
    </section>
</html>