---
import Layout from "../layouts/Layout.astro"
import "../styles/global.css";
import Divider from "./Divider.astro";

import { getCollection, type CollectionEntry } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('posts');
  return posts.map((post: CollectionEntry<'posts'>) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

interface Props {
  post: CollectionEntry<'posts'>;
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<html>
    <Layout backgroundColour="bg-white">
        <div slot="hero" class="h-[400px] md:h-[600px] md:-mt-30 z-0 py-24 md:py-36 bg-fixed bg-cover bg-no-repeat overflow-hidden  bg-center md:bg-cover md:bg-center" style="background-image: url(${post.data.image}; bg-cover;" id="#hero">
        </div>
        <section>

            <div class="mt-12">
                <h2 class="font-sans font-extrabold tracking-tight text-center text-6xl text-brown">
                    {post.data.title}
                </h1>
                <p class="text-center text-brown py-4">
                    {post.data.publishDate}
                </p>
            </div>

            <div class="tags">
            {post.data.tags.map((tag) => (
            <span class="tag">{tag}</span>
            ))}
            </div>

            <Divider colour="border-brown"></Divider>
         
            <Content class="prose prose-slate font sans max-w-xs md:max-w-2xl mx-auto"/>
           
            <Divider colour="border-brown"></Divider>
            
           
            
        </section>
    </Layout>
</html>