---
import "../styles/global.css";
---

<div class="max-w-xs mx-auto md:max-w-3xl prose 
prose-h1:text-5xl prose-h1:font-bold prose-h1:text-brown prose-h1:mb-5 prose-h1:mt-15 
prose-h2:font-bold prose-h2:text-4xl prose-h2:text-brown prose-h2:mt-10 prose-h2:mb-5
prose-h3:text-xl prose-h3:text-brown prose-h3:mb-5
prose-h4:text-lg prose-h4:text-brown prose-h4:mb-5
prose-h5:text-base prose-h5:text-brown
prose-a:text-blue 
prose-p:text-brown prose-p:text-sm">
<slot/>
</div>