---
interface Props {
  text: string;
  href: string;
}

const { text, href } = Astro.props;
---

<section id={href} class="py-24 ">
  <h2
    class="mb-14 font-sans text-2xl sm:text-5xl md:text-6xl font-extrabold tracking-tighter text-center text-light-green"
  >
    {text}
  </h2>
  <slot />
</section>
