---
interface Props {
  text: string;
  href: string;
}

const { text, href } = Astro.props;
---

<section id={href} class="py-24">
  <h2
    class="mb-14 font-sans text-4xl font-extrabold tracking-tighter text-center text-[var(--text-green)] md:text-7xl"
  >
    {text}
  </h2>
  <slot />
</section>
